<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/menu_s.css" />
		<link rel="stylesheet" href="../css/css2.css" />
		<script src="../js/bootstrap.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/jquery.min.js"></script>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Meet & Greet</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="current-menu-item"><a href="admin_home.php"><span>Home</span></a></li>
					<li><a href="admin_upload_card.php"><span>Upload Cards</span></a></li>
					<li><a href="admin_manage_card.php"><span>Manage Cards</span></a> </li>    
				  <li><a href="admin_category_add.php"><span>Add Categories</span></a></li>
				  <li><a href="admin_category_delete.php"><span>Delete Categories</span></a></li>					
					
					<li><a href="admin_manage_user.php"><span>User</span></a></li>
                    <li><a href="admin_change_password.php"><span>Change Password</span></a></li>
					<li><a href="admin_logout.php"><span>Logout</span></a></li>
      </ul>
    </div>
  </div>
</nav>


